# Python
__pycache__
*.pyc
*.egg-info
dist
.venv/
venv/
ubuntu_station/venv/

# Log
*.log
*.log.*
*.jsonl

# Data
!**/alpaca-data-conversation.json

# Editor
.idea
*.swp

# Other
.DS_Store
wandb
output
work_dirs
data
model_zoo
hf_download

test_cases

checkpoints
ckpts*

.ipynb_checkpoints
*.ipynb

# Local runtime state
.cache/
ubuntu_station/log/
\[38

# DevContainer
!.devcontainer/*
.micromamba/
.micromamba-bin/
